@import "generalmap.css";
html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}


/* APP */

#app {
    display: flex;
    flex-direction: column;
}

#contenu {
    width: 100%;
    display: flex;
}

.popup {
    /* style de marker} */
}


/* Initialisation  */

#contenuLeft {
    width: 400px;
    max-width: 600px;
    min-width: 400px;
}

.containerBtn {
    width: 30%;
    max-width: 600px;
    min-width: 400px;
}

#btninitialisation {
    transition-duration: 0.3s;
    width: 100%;
    background-color: #f5f5f5;
    border-right: grey solid 1px;
    border-bottom: grey solid 1px;
    border-radius: 0px;
    box-shadow: 0 4px 2px -2px gray;
    max-width: 600px;
    min-width: 400px;
}

#btninitialisation:hover {
    transition-duration: 0.1s;
    background-color: #d8d8d8;
}


/* MAP */

#map {
    width: 100%;
    height: 90vh;
    left: 0;
}


/* Liste des Places */

#liste_places {
    background-color: #f5f5f5;
    width: 30%;
    max-width: 600px;
    min-width: 400px;
    position: relative;
    border-right: grey solid 1px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    /* height: 90vh; */
    height: calc(100vh - 100px);
}


/* Message no places */

#messageDepVide {
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    color: var(--secondary-color);
}

.place_card {
    background-color: #ffffff;
    height: 150px;
    width: 90%;
    min-width: 380px;
    margin: 15px auto;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 0px 1px #555555;
}

.place_card:hover {
    box-shadow: 0px 0px 4px #555555;
}

.place_card_img {
    height: 100%;
    width: 250px;
    background-color: cadetblue;
    overflow: hidden;
}

.place_card_img img {
    width: 100%;
    height: 100%;
}

.place_card_text {
    height: 100%;
    width: 100%;
    margin-left: 10px;
    display: flex;
}

.place_card_text .place_card_info {
    height: 100%;
    width: 100%;
    max-width: 170px;
    padding-right: 10px;
    overflow-wrap: normal;
}

.place_card_text .place_card_info h4.placeName {
    margin: 0px;
    width: 100%;
    margin: 5px 0px;
}

.place_card_text .place_card_info p {
    margin: 0px;
    width: 100%;
    line-height: 20px;
    margin-bottom: 7px;
}

.place_card_text .place_card_interactive {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 10px;
    width: 50px;
    clear: right;
    float: right;
}

.place_card_interactive .button-interactive button {
    padding: 1px 5px;
    height: 30px;
    border-radius: 20px;
}

.place_card_interactive .button-interactive button:last-child {
    margin-bottom: 10px;
}

.place_card_interactive .button-interactive button:first-child {
    margin-bottom: 70px;
}


/*Legend specific*/

.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
}

.legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend span {
    position: relative;
    bottom: 3px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
}

.legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
}

.custom-popup {
    margin: 0px;
}

.custom-popup .leaflet-popup-content-wrapper {
    transition-duration: 0.35s;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    box-shadow: none;
    border: solid black 1px;
    background-color: white;
}

.popup-tower .leaflet-popup-content-wrapper {
    /* //ici une tour */
}

.popupCompleted .leaflet-popup-content-wrapper {
    background-color: green;
}

.isActivePopUp .leaflet-popup-content-wrapper {
    transition-duration: 0.35s;
    background-color: red;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.8);
    transform: scale(2);
}

.leaflet-popup-tip-container {
    display: none;
}


/* NAVBAR */

.navbarCustom {
    height: 10vh;
    min-height: 100px;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    padding: 0px 0px 10px 0px;
}

.navbarCustom #navbarLeft {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbarCustom #navbarLeftTop {
    flex-grow: 1;
}

.navbarCustom #navbarLeftBot {
    display: flex;
    justify-content: flex-start;
    max-height: 40px;
}

.navbarCustom #navbarLeftBot #choixmultiple {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.navbarCustom #navbarLeftBot .btnFilter {
    color: white;
}

.navbarCustom #navbarLeftBot a {
    margin: 0px 10px;
}

.navbarCustom #navbarLeftBot #choixmultiple label {
    width: 150px;
    height: max-content;
    margin: 0px 10px;
    color: white;
}

.navbarCustom #navbarLeftBot #choixmultiple select {
    margin: 0px 10px;
}

.navbarCustom #navbarRight {
    height: 100%;
    width: 20em;
    display: flex;
    flex-direction: column;
}

.navbarCustom #navbarRight #navbarRightTop {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
}

.navbarCustom #navbarRight #navbarRightTop h3 {
    height: max-content;
    padding: 5px 0px;
    width: max-content;
    margin: auto;
    color: white;
    font-weight: 700;
}

.navbarCustom #navbarRight #navbarRightBot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbarCustom #navbarRight #navbarRightBot button {
    height: max-content;
    padding: 5px 5px !important;
    box-shadow: 0px 0px 2px 0.1px rgba(0, 0, 0, 0.8);
    margin: 0;
}

.navbarCustom #navbarRight #navbarRightBot button:hover {
    height: max-content;
    padding: 5px 5px !important;
    box-shadow: 0px 0px 2px 0.1px rgba(0, 0, 0, 0.8) !important;
}